.bg-1 {
  background: url("../../images/bg/bg-1.jpg") no-repeat;
  background-size: cover;
}

.bg-2 {
  background: url("../../images/bg/bg-2.jpg") no-repeat;
  background-size: cover;
}

.bg-3 {
  background: url("../../images/bg/bg-3.jpg") no-repeat;
  background-size: cover;
}

.bg-4 {
  background: url("../../images/bg/bg-4.jpg") no-repeat;
  background-size: cover;
}
