.clients-logo {
  .clients-logo-img {
    padding: 10px 20px;
    text-align: center;
    margin: 0 12px;
    opacity: 0.5;
    transition: opacity 300ms;

    &:hover {
      opacity: 1;
    }

    img {
      display: inline-block;
      max-width: 100%;
    }
  }
}
