$light: #fff;
$primary-color: rgb(236, 163, 56);
$secondary-color: #f9f9f9;
$extra-color: #003235;
$black: #232323;
$black-light: #272727;
$border-color: #dedede;
$primary-font: "Barlow Condensed", sans-serif;
$secondary-font: "Montserrat", sans-serif;
