$light: #fff;
$primary-color: rgb(232, 161, 58); // #e8a13a
$secondary-color: #f9f9f9;
$extra-color: #1e4749;
$black: #232323;
$black-light: #272727;
$border-color: #dedede;
$primary-font: "Barlow Condensed", sans-serif;
$secondary-font: "Montserrat", sans-serif;
