<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-3 col-md-6">
				<img src="images/about/about-1.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-3 mt-lg-4 col-md-6">
				<img src="images/about/about-2.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="about-item position-relative mt-5 mt-lg-0">
					<h2 class="mt-1 mb-3"><span class="text-color">SOUL HUMANICS </span>is a Holistic Health and Fitness
						Transformation Platform.</h2>
					<p class="mb-4">
						Where we hold your hand to reach your Ultimate Health by Supporting and guiding you every step of the
						way.</p>
					<p>Our Programs cover a wide range of subjects from Emotional health, Immunity, Pain Management, Sleep
						and Exercise,
						providing you with the knowledge and wisdom to achieve Optimal Health & Wellness. Exploring the
						immense power of nature,
						lifestyle, and the intelligence of your own body and learn how to Integrate them into a solid platform
						for better HEALTH
						and LIFE.</p>
					<a href="service.html" class="btn btn-main">Services<i class="ti-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
