<!-- Clients Logo Section Start -->
<section class="section clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <div class="divider mb-3"></div>
          <h2>Our Clients</h2>
          <p>We offer more than 35 group exercis, aerobic classes each week.</p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="clients-logo">
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
          <div class="clients-logo-img">
            <img src="images/clients/client-logo.png" alt="logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
