
<section class="slider">
	<div class="container">
		<div class="row banner-slider">
			<div class="col-md-12 mb-5">
				<span class="h6 d-inline-block mb-3 subhead text-uppercase">HEALTH, WELLNESS, FITNESS</span>
				<h1 class="text-uppercase text-white mb-3">You can't Spell <span class="text-color"><br>
						Cha<span class="text-white">lla</span>nge</span><br>without change</h1>
				<h5 class="text-uppercase text-white mb-5">Passion + Consistency = Success</h5>
				<a href="pricing.html" target="_blank" class="btn btn-main ">Join Us <i class="ti-angle-right ml-3"></i></a>
			</div>
			<div class="col-md-12 mb-5">
				<span class="h6 d-inline-block mb-3 subhead text-uppercase">A COMBINATION OF</span>
				<h1 class="text-uppercase text-white mb-3">Science, Coaching<span class="text-color">
						<br>And Technology</h1>
				<h5 class="text-uppercase text-white mb-5">Workouts that gurantee maximum results from the inside out</h5>
				<a href="pricing.html" target="_blank" class="btn btn-main ">Join Us <i class="ti-angle-right ml-3"></i></a>
			</div>
		</div>
	</div>
</section>
