<section class="section bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<div class="section-title">
					<div class="divider mb-3"></div>
					<h2>Eco System / Associates</h2>
					<p>Designed on the foundation of Integrative and preventive health care using lifestyle, the ecosystem
						consists of Elite
						Integrative.
						Our Health Coaches and Practioners are dedicated for your Health & Well being.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="card border-0 bg-transparent rounded-0 mb-4">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6">
							<img src="images/team/team.jpg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-md-6">
							<div class="card-body team-wrap pl-4">
								<h3 class="card-title text-color">Suraj Patil</h3>
								<h6 class="card-subtitle pb-4 letter-spacing">Health Coach</h6>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla ea
									doloribus dolorum ad quasi.</p>
								<ul class="list-inline ">
									<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border-0 bg-transparent rounded-0 mb-4">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6">
							<img src="images/team/team.jpg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-md-6">
							<div class="card-body team-wrap pl-4">
								<h3 class="card-title text-color">Suraj Patil</h3>
								<h6 class="card-subtitle pb-4 letter-spacing ">Medical Doctor</h6>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla ea
									doloribus dolorum ad quasi.</p>
								<ul class="list-inline ">
									<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border-0 bg-transparent rounded-0 mb-4">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6">
							<img src="images/team/team.jpg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-md-6">
							<div class="card-body team-wrap pl-4">
								<h3 class="card-title text-color">Suraj Patil</h3>
								<h6 class="card-subtitle pb-4 letter-spacing ">Homeopathy Doctor</h6>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla ea
									doloribus dolorum ad quasi.</p>
								<ul class="list-inline ">
									<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border-0 bg-transparent rounded-0 mb-4">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6 ">
							<img src="images/team/team.jpg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-md-6">
							<div class="card-body team-wrap pl-4">
								<h3 class="card-title text-color">Suraj Patil</h3>
								<h6 class="card-subtitle pb-4 letter-spacing ">Physiotherapist</h6>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla ea
									doloribus dolorum ad quasi.</p>
								<ul class="list-inline ">
									<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border-0 bg-transparent rounded-0 mb-4">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6 ">
							<img src="images/team/team.jpg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-md-6">
							<div class="card-body team-wrap pl-4">
								<h3 class="card-title text-color">Suraj Patil</h3>
								<h6 class="card-subtitle pb-4 letter-spacing ">Clinical Dietetics</h6>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla ea
									doloribus dolorum ad quasi.</p>
								<ul class="list-inline ">
									<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border-0 bg-transparent rounded-0 mb-4">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6 ">
							<img src="images/team/team.jpg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-md-6">
							<div class="card-body team-wrap pl-4">
								<h3 class="card-title text-color">Suraj Patil</h3>
								<h6 class="card-subtitle pb-4 letter-spacing ">Emotional counselors</h6>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla ea
									doloribus dolorum ad quasi.</p>
								<ul class="list-inline ">
									<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border-0 bg-transparent rounded-0 mb-4">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6 ">
							<img src="images/team/team.jpg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-md-6">
							<div class="card-body team-wrap pl-4">
								<h3 class="card-title text-color">Suraj Patil</h3>
								<h6 class="card-subtitle pb-4 letter-spacing ">Wellness Coach</h6>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla ea
									doloribus dolorum ad quasi.</p>
								<ul class="list-inline ">
									<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border-0 bg-transparent rounded-0 mb-4">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6 ">
							<img src="images/team/team.jpg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-md-6">
							<div class="card-body team-wrap pl-4">
								<h3 class="card-title text-color">Suraj Patil</h3>
								<h6 class="card-subtitle pb-4 letter-spacing ">Strength & Conditioning Coach</h6>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla ea
									doloribus dolorum ad quasi.</p>
								<ul class="list-inline ">
									<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border-0 bg-transparent rounded-0 mb-4">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6 ">
							<img src="images/team/team.jpg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-md-6">
							<div class="card-body team-wrap pl-4">
								<h3 class="card-title text-color">Suraj Patil</h3>
								<h6 class="card-subtitle pb-4 letter-spacing ">Accupressure and Accupuncture Therapist</h6>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla ea
									doloribus dolorum ad quasi.</p>
								<ul class="list-inline ">
									<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border-0 bg-transparent rounded-0 mb-4">
					<div class="row no-gutters align-items-center">
						<div class="col-md-6 ">
							<img src="images/team/team.jpg" alt="" class="img-fluid w-100">
						</div>
						<div class="col-md-6">
							<div class="card-body team-wrap pl-4">
								<h3 class="card-title text-color">Suraj Patil</h3>
								<h6 class="card-subtitle pb-4 letter-spacing ">Elite Massage Therapist</h6>
								<p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nulla ea
									doloribus dolorum ad quasi.</p>
								<ul class="list-inline ">
									<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
